/* top menu */
.navbar {
    padding: 2.5rem;
    float: right;
}
@media screen and (min-width:1200px) {
	.navbar {
	    padding-right: calc((100vw - 1200px)/2 + 2.5rem);
	}
}
.nav-menu, .attribute-pts, .gm-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 7rem;
    transition: 0.3s;
	background-color: #f2f2f2;
	border: 2px solid #999999;
	border-style: groove;
	z-index: 999;
    padding: 1.5rem 2rem;
}
.attribute-pts {
	padding: 1.5rem;
    top: 2rem;
}
.attribute-pts div, .gm-menu div {
    margin: 0.5rem 0;
}
.attribute-pts .glyphicon-remove, .gm-menu .glyphicon-remove {
	color: black;
}
.attribute-count {
	font-size: 3rem;
	text-align: center;
}
.nav-menu.active, .attribute-pts.active, .gm-menu.active {
    right: -2px;
}
.nav-item {
    margin: 0.3rem 0;
    font-size: 1.8rem;
}
.nav-item-label {
	font-family: "Merriweather";
	margin-left: 15px;
    font-size: 2.0rem;
}
.nav-icon {
	margin-right: 10px;
	margin-left: -10px;
}
.glyphicon-menu-hamburger {
    font-size: 3.9rem;
    color: #f2f2f2;
    transition: 0.3s;
    -webkit-text-stroke: 2px black;
}
.glyphicon-menu-hamburger.active {
	transform: rotate(90deg);
}
@media screen and (max-width:767px) {
	.nav-item {
	    font-size: 1.4rem;
	}
	.nav-item-label {
	    font-size: 1.6rem;
	}
	.glyphicon-menu-hamburger {
	    font-size: 3.6rem;
	}
	.attribute-count {
		font-size: 2rem;
	}
}

/* make sure autocomplete list is not hidden behind modal */
.ui-front {
    z-index: 9999;
}

/* detect touchscreen */
@media (hover: none) {
  #is_mobile {
  	display: none;
  }
}

/* hide number spinners on hidden number inputs */
.hidden-number::-webkit-outer-spin-button,
.hidden-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.hidden-number[type=number] {
    -moz-appearance:textfield;
}

/* clear button for text fields */
.clearable {
    background: #fff url(/assets/image/icoX.gif) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x { 
    background-position: right 5px center;
}
.clearable.onX { cursor: pointer; }

body {
	font-family: "Merriweather";
	background-color: #cccccc;
	color: black;
}
button.btn-primary {
	background-color: #8c8c8c !important;
	border-color: #666666 !important;
	text-transform: uppercase;
}
label {
	font-weight: 300;
}
input {
	padding: 0 !important;
	text-align: center;
}
form {
	max-width: 1200px;
	margin: 0 auto;
}
h1 {
	text-align: center;
	font-family: "Alegreya";
	font-weight: bold;
	font-size: 5vw !important;
	/*font-style: italic;*/
}
@media screen and (min-width:1200px) {
	h1 {
		font-size: 60px !important;
	}
}
@media screen and (max-width:767px) {
	h1 {
		font-size: 2em;
	}
}
#add_xp {
	width: 100px;
}
.add-xp {
	justify-content: space-between;
	display: flex;
}
.add-xp h3, .add-xp input {
	margin-top: 15px;
}
.add-xp .button-bar {
	margin-top: 10px;
}
.align-right {
	text-align: right !important;
}
@media screen and (min-width:768px) {
	#anchor_links {
		display: none;
	}
}
.attribute-col {
	padding: 0;
}
.attribute-val {
	margin-right: 15px;
	font-size: 1.1em;
	display: inline-block;
	width: 15px !important;
	font-weight: bold;
	font-style: normal !important;
}
.attribute-name {
	width: 80px;
	display: inline-block;
}
.btn-default {
	border: none;
	width: 100%;
	cursor: default;
	background-color: #f2f2f2 !important;
}
.btn-default:focus, .btn-default:active {
	outline: none !important;
	box-shadow: none;
}
.button-bar {
	text-align: center;
	margin-top: 15px;
}
.button-bar .btn {
	/*text-transform: uppercase;*/
}
.center {
	text-align: center !important;
}
.col-md-7.col-xs-8 {
	padding-left: 5px;
}
@media screen and (max-width:991px) {
	.col-md-7.col-xs-8 {
		padding-left: 15px;
	}
}
.col-md-5.col-xs-4, .col-md-4.col-xs-4 {
	padding: 0;
}
.feat {
	cursor: pointer;
	margin-bottom: 3px;
}
.feat p, .feat div {
	display: inline;
	/*font-size: 0.9em;*/
}
@media screen and (max-width:767px) {
	.feat p {
		font-size: 0.9em;
	}
}
.feat-title {
	font-style: italic;
	font-weight: bold;
}
.forgot-password-btn {
	font-size: 12px;
	margin-bottom: 5px;
}
.form-check-input, .form-check-label {
	display: inline;
	margin-top: 10px !important;
}
.form-control {
	height: 26px;
}
.form-control[readonly] {
	background-color: white;
}
.form-group .control-label {
	text-align: left;
}
.form-group {
	margin-bottom: 5px;
}
.form-group .glyphicon-remove {
	margin-top: 10px;
}
.form-horizontal .control-label {
	padding-top: 3px;
}
.full-width {
	width: 100%;
}
.glyphicon {
	line-height: 0.5;
}
@media (hover: hover) {
	.glyphicon:hover {
		text-shadow: 0px 0px 3px #404040;
		cursor: pointer;
	}
}
@media (hover: hover) {
	.glyphicon.svg:hover {
		filter: drop-shadow( 0px 0px 3px #404040 );
	}
}
.glyphicon-edit, .glyphicon-remove, .glyphicon-chevron-up, .glyphicon-chevron-down, .glyphicon-ok {
	margin: 0 5px;
}
.glyphicon-chevron-up, .glyphicon-chevron-down {
	padding: 5px;
	font-size: 1.1em;
}
@media screen and (min-width:768px) {
	.glyphicon-chevron-up, .glyphicon-chevron-down {
		display: none;
	}
}
.glyphicon-remove {
	color: red;
}
.glyphicon-plus, .glyphicon-minus {
	font-size: 0.9em;
	user-select: none;
}
@media screen and (max-width:767px) {
	.glyphicon-plus, .glyphicon-minus {
		margin-left: 10px;
	}
}
.glyphicon-plus, .glyphicon-minus, .hidden-icon {
	display: none;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
.glyphicon-ban-circle {
	font-size: 1.7em;
	transform: translate(-4px, 5px);
	color: darkred;
}
.glyphicon-ban-circle, .icon-armor {
	position: absolute;
}
@media screen and (max-width:767px) {
	.glyphicon-ban-circle, .icon-armor {
		margin-left: -10px;
	}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.grecaptcha-badge {
   	visibility: hidden;
}
.header {
	background-image: url('image/treasure-header-desaturated.jpg');
	background-size: contain;
	width: 100vw;
	height: 34vw;
	max-width: 1200px;
	max-height: 406px;
	margin: 0px auto 10px auto;
}
.header .row {
	padding-top: 6vw;
	color: black;
}
.header .row .col-xs-4 {
	margin-left: 4vw;
	padding: 0;
	position: static;
}
@media screen and (min-width:1200px) {
	.header .row {
		padding-top: 72px;
	}
	.header .row .col-xs-4 {
		margin-left: 48px;
	}
}
@media (hover: hover) {
	.hover-hide {
		display: none;
	}
}
@media (hover: none) {
	.hover-hide {
		display: inline-block;
	}
}
.hidden-number {
	margin-top: -26px;
}
.highlight {
	text-shadow: 0px 0px 3px #404040;
}
.svg-inline--fa {
	/* changes fa-icon color to black */
	transform: translateX(1px);
}
.custom-icon {
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-protection, .icon-misc, .icon-armor {
    font-size: 1.2em;
    transform: translateY(2px);
}
.icon-sword {
    background-image: url("image/sword.svg");
}
.icon-protection {
    background-image: url("image/helmet.svg");
}
.icon-armor {
    background-image: url("image/armor.svg");
}
.icon-misc {
    background-image: url("image/misc.svg");
}
.icon-attack {
    background-image: url("image/attack.svg");
}
.icon-path {
    background-image: url("image/path.svg");
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.left-col {
	margin-left: 15px;
	margin-right: -15px;
}
@media screen and (max-width:991px) {
	.mobile-pad-bottom {
		padding-bottom: 5px;
	}
}
@media screen and (min-width:992px)  {
	.mobile-break {
		display: none;
	}
}
.modal-title {
	text-align: center;
}
.modal-sm {
	width: 300px !important;
	margin: 30px auto !important;
}
.motivator-title {
	padding-left: 100px;
}
.motivator-bonus {
	display: inline-block;
	float: right;
	text-transform: none;
	font-weight: 300;
	margin-bottom: -1px;
}
.motivator-bonus label {
	font-size: 0.9em;
}
.motivator-bonus input {
	width: 50px;
	position: relative;
	display: inline-block;
	margin-right: 15px;
}
@media screen and (max-width:767px) {
	.motivator-title {
		padding-left: 0;
	}
	.motivator-bonus {
		display: block;
		float: none;
	}
	.motivator-bonus input {
		margin-right: 0;
	}
}
.no-pad {
	padding-left: 0;
	padding-right: 0;
}
.no-pad-left {
	padding-left: 0;
}
@media screen and (min-width:992px) {
	.desktop-no-pad-left {
		padding-left: 0;
	}
}
@media screen and (min-width:768px) {
	.no-margin {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
@media screen and (max-width:767px) {
	.no-pad-mobile {
		padding: 0 1px;
	}
	.no-pad-mobile input {
		font-size: 12px;
	}
	.pad-left-mobile {
		padding-left: 5px;
	}
}
#notes li {
	margin-top: 10px;
}
.note {
	cursor: pointer;
	font-size: 1.1em;
}
.note-title {
	font-weight: bold;
}

#notes .glyphicon-remove {
	float: right;
}
ul {
	padding-inline-start: 15px;
}
.penalty {
	color: red;
	font-weight: bold;
}
@media screen and (max-width:767px) {
	.resize-mobile {
		font-size: 2.6vw;
		padding: 0;
	}
	.resize-mobile-small {
		font-size: 1.9vw;
		padding: 0;
	}
}
.row {
	margin: 0;
}
select.form-control {
	height: 35px;
	text-align: center;
}
.section {
	position: relative;
	border: 2px solid #999999;
	border-radius: 5px;
	border-style: groove;
	padding: 10px 20px;
	margin: 10px 20px;
	background-color: #f2f2f2;
}
.section:before, .nav-menu:before, .attribute-count:before {
	background-image: url('image/texture.jpeg');
	background-size: cover;
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-repeat: no-repeat;
	background-position: 50% 0;
}
@media screen and (max-width:767px) {
	.section {
		margin: 10px 0;
	}
}
.section-title {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.section-motivators {
	margin-bottom: 10px;
}
.section-title span {
	text-decoration: underline;
}
@media screen and (max-width:767px) {
	.smaller {
		font-size: 0.9em;
		padding-right: 0;
	}
}
.tiny {
	font-size: 0.3em;
}
.training {
	font-style: italic;
	margin-top: 5px;
}
.training-row {
	margin-bottom: 2px;
}
.training button {
	width: 14px;
	height: 0;
    padding: 0;
    margin-top: -5px;
    margin-bottom: 15px;
}
@media screen and (max-width:767px) {
	.training button {
		padding: 0;
	}
}
.training .button-bar {
	margin-top: 0;
}
.training .col-md-5 {
	padding-right: 0;
	padding-left: 7px;
}
.training .col-md-7 {
	margin-left: -5px;
	padding: 0;
	font-size: 0.9em;
}
.training .col-md-5 .glyphicon-plus, .training .col-md-5 .glyphicon-minus {
	padding-left: 3px;
}
@media screen and (max-width:991px) {
	.training .col-md-5 {
		padding-left: 10px;
		padding-right: 0;
	}
	.training .col-md-7 {
		padding-left: 10px;
	}
}
@media screen and (max-width:767px) {
	.training .col-md-4 {
		padding-left: 5px;
	}
}
#user_select, #anchor_links {
	width: 300px;
	margin: 5px auto;
	height: 35px;
	text-align: center;
}
@media screen and (max-width:767px) {
	.weapon-container {
		display: none;
	}
}
@media screen and (min-width:768px) {
	.weapon-container {
		display: block !important;
	}
	.with-hidden {
		padding-right: 23px;
	}
}